<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TECNM.Residencias.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TECNM.Residencias.Properties.AppSettings>
            <setting name="AdvisorDefaultType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CompanyDefaultType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StudentDefaultCareer" serializeAs="String">
                <value>-1</value>
            </setting>
        </TECNM.Residencias.Properties.AppSettings>
    </userSettings>
</configuration>